* {
    box-sizing: border-box;
  }
  
  .col-3 {
    height: 100px;
    width: 33.333%; /* Можно задать любую другую ширину блока */
    background: grey;
    margin: .5rem;
    display: flex;
  }

  .col-2 {
    height:100px;
    width: 50%; /* Можно задать любую другую ширину блока */
    background: grey;
    margin: .5rem;
    display: flex;
    
  }

  .row2 {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      align-self: baseline; 
      

  }
  
  .row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      justify-content: center;
  }

  .centered {
      margin: auto;
  }

  .style__textarea {

    outline: none;
    border: 1px solid #999;
    resize: none;
    overflow: auto;
    padding: none;
    margin: none; 

  }