* {
    box-sizing: border-box;
  }
  
  .col-3 {
    height: 100px;
    width: 33.333%; /* Можно задать любую другую ширину блока */
    background: grey;
    margin: .5rem;
    display: flex;
  }

  .col-2 {
    height:100px;
    width: 50%; /* Можно задать любую другую ширину блока */
    background: grey;
    margin: .5rem;
    display: flex;
    
  }

  .row2 {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      align-self: baseline; 
      

  }
  
  .row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      align-content: center;
      justify-content: center;
  }

  .centered {
      margin: auto;
  }

  .style__textarea {

    outline: none;
    border: 1px solid #999;
    resize: inherit;
    overflow: auto;
    padding: none;
    margin: none; 

  }


  

  @media (min-width:320px) {

    .style__textarea {

        outline: none;
        border: 1px solid #999;
        resize: inherit;
        overflow: auto;
        padding: none;
        margin-left: 5%; 
        width: 90%;
      }

    #getValue {

        width:90%;
        margin-left: 5%;
      }

    button {
        margin-left: 35%;
        margin-top: 5%;
      }
      
    .style_text_p {
            height: 20%;
            width:10.4em;
            margin-top: 1%;
            margin-left: -2.5%;
            font-size: 2.3vw;
            word-wrap: break-word;
        }
    
    }
    
